@model IEnumerable<PoliziaMunicipale.Models.Violazioni>

@{
    ViewBag.Title = "Violazioni";
}

<h2 class="mb-4 mt-2">Elenco Violazioni</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDviolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione_Verbale);
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDviolazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione_Verbale)
                </td>
            </tr>
        }
    </tbody>
</table>
